.panel {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 15px;
    width: 95%;
    margin-left: auto;
    background-color:  var(--tg-theme-bg-color);
    align-items: center;
    align-content: center;
}
.pageHead {
  position: sticky;
  z-index: 50;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 56px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
 box-shadow: 0 5px 20px rgba(193, 193, 193, .4);
  will-change: background-color;
  transition: background-color .3s ease-in-out;
}
.image-wrapper {
    position: relative;

    overflow: hidden;
    flex: none;

    width: 152px;
    height: 250px;
    margin-right: 18px;

    border-radius: 8px;
}
.image {
    object-fit: cover;
}